src/tests/fixtures/error-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="tNOk">
        <xsd:sequence>
            <xsd:element name="Code" type="xsd:string" />
            <xsd:element name="Detail" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>